SETTINGS_MODULE='core_app.settings.local'
DEBUG='True'

DB_ENGINE='django.db.backends.postgresql'
DATABASE_NAME='vetted_test'
DATABASE_USER='postgres'
DATABASE_PASSWORD='root'
DATABASE_HOST='localhost'
DATABASE_PORT=5432
